#include "resource.h"

IDI_APPICON ICON "..\\..\\assets\\app_icon.ico"

IDR_EMOJI_GRINNING_FACE RCDATA "..\\..\\data\\emoji\\fluent\\grinning_face.png"
IDR_EMOJI_SMILING_FACE RCDATA "..\\..\\data\\emoji\\fluent\\smiling_face.png"
IDR_EMOJI_TEAR_OF_JOY RCDATA "..\\..\\data\\emoji\\fluent\\face_with_tears_of_joy.png"
IDR_EMOJI_WINKING_FACE RCDATA "..\\..\\data\\emoji\\fluent\\winking_face.png"
IDR_EMOJI_SMILING_EYES RCDATA "..\\..\\data\\emoji\\fluent\\smiling_face_with_smiling_eyes.png"
IDR_EMOJI_THINKING_FACE RCDATA "..\\..\\data\\emoji\\fluent\\thinking_face.png"
IDR_EMOJI_SUNGLASSES RCDATA "..\\..\\data\\emoji\\fluent\\smiling_face_with_sunglasses.png"
IDR_EMOJI_PARTYING_FACE RCDATA "..\\..\\data\\emoji\\fluent\\partying_face.png"
IDR_EMOJI_THUMBS_UP RCDATA "..\\..\\data\\emoji\\fluent\\thumbs_up.png"
IDR_EMOJI_CLAPPING_HANDS RCDATA "..\\..\\data\\emoji\\fluent\\clapping_hands.png"
IDR_EMOJI_FOLDED_HANDS RCDATA "..\\..\\data\\emoji\\fluent\\folded_hands.png"
IDR_EMOJI_FLEXED_BICEPS RCDATA "..\\..\\data\\emoji\\fluent\\flexed_biceps.png"
IDR_EMOJI_RED_HEART RCDATA "..\\..\\data\\emoji\\fluent\\red_heart.png"
IDR_EMOJI_FIRE RCDATA "..\\..\\data\\emoji\\fluent\\fire.png"
IDR_EMOJI_PARTY_POPPER RCDATA "..\\..\\data\\emoji\\fluent\\party_popper.png"
IDR_EMOJI_ROCKET RCDATA "..\\..\\data\\emoji\\fluent\\rocket.png"
